@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Knockout学习笔记之一 预定座位</title>
    <script src="/Scripts/jquery-3.1.1.min.js"></script>
    <script src="/Scripts/Knockout/knockout-3.4.1.js"></script>
    <script type="text/javascript">
        window.onload = function () {
            ko.applyBindings(new ReservationsViewModel());
        }
        function SeatReservation(name, initialMeal) {
            var self = this;
            self.name = name;
            self.meal = initialMeal;
            //self.fommatterMoney = ko.dependentObservable(function () {
            //    return "$"+self.
            //});
        }

        function ReservationsViewModel() {
            var self = this;

            self.seats = ko.observableArray([
                new SeatReservation("neil", self.availableMeals[0]),
                new SeatReservation("ni", self.availableMeals[0])
            ]);

            self.availableMeals = [
                { mealName: "Standard(Sandwich)", price: 0 },
                { mealName: "Premium:(lobster)", price: 34.95 },
                { mealName: "Ultimate(whole zebra)", price: 290 }
            ];

            

            //self.addSeat = ko.observableArray(function () {
            //    return self.availableMeals.push(new self.availableMeals("", self.availableMeals[0]));
            //});


        }
    </script>
</head>
<body>


    <h3>Your seat reservations</h3>
    <table>
        <thead>
            <tr>
                <th>Passenger name</th>
                <th>Meal	Surcharge</th>
                <th></th>
            </tr>
        </thead>
        <tbody data-bind="foreach:seats">
            <tr>
                <td data-bind="value:name"></td>
                <td>
                    <td><select data-bind="options:$root.availableMeals,value:price,optionsText:'mealName'"></select></td>
                <td data-bind=""></td>
            </tr>
        </tbody>
    </table>
</body>

</html>
